<p>
  <label for="name">Name</label>
  <Input id="name" @value={{@model.name}} required placeholder="Name" />
</p>

<p>
  <label for="state">State</label>
  <Input id="state" @type="checkbox" @checked={{@model.state}} />
</p>

<p>
  <label for="file">File</label>

  {{#if @model.file}}
    <img src={{file-url @model.file}} height="100" alt="..."><br>
    <button type="button" {{on "click" (fn (mut @model.file) null)}}>
      Unset
    </button>
  {{else}}
    {{#let (file-queue name="files" onFileAdded=(pipe (fn this.files.upload) (fn (mut @model.file)))) as |queue|}}
      <label for="upload-photo">
        <input
          type="file"
          id="upload-photo"
          accept="image/*"
          {{queue.selectFile}}
        >
      </label>
    {{/let}}
  {{/if}}
</p>