{{#if session.isAuthenticated}}
  <p>
    <span>{{link-to "Index" "index"}}</span>
    <button {{action "signOut"}}>Sign Out</button>
    <span>User: {{user.model.name}}</span>
    <span>Watch: {{watch.connected}}</span>
  </p>
{{/if}}

{{outlet}}