<h2>Edit Item</h2>

<form {{action "update" on="submit"}}>
  <p>
    <label>Name</label>
    <Input @value={{this.model.name}} placeholder="Name"/>
  </p>

  <p>
    <label>State</label>
    <Input @type="checkbox" @checked={{this.model.state}}/>
  </p>

  <p>
    <label>Blob</label><br>

    <FileUpload @name="blob" @accept="image/*" @onfileadd={{action "store" "blob"}}>
      {{#if this.model.blobURL}}
        <img src={{this.model.blobURL}} height="100" alt="...">
      {{else}}
        Upload
      {{/if}}
    </FileUpload>

    {{#if this.model.blobURL}}
      <button type="button" {{action "unset" "blob" "blob"}}>
        Unset
      </button>
    {{/if}}
  </p>

  <p>
    <label>File</label><br>

    <FileUpload @name="file" @accept="image/*" @onfileadd={{action "upload" "file"}}>
      {{#if this.previews.file}}
        <img src={{this.previews.file}} height="100" alt="...">
      {{else if this.model.fileURL}}
        <img src={{this.model.fileURL}} height="100" alt="...">
      {{else}}
        Upload
      {{/if}}
    </FileUpload>

    {{#if (or this.previews.file this.model.fileURL)}}
      <button type="button" {{action "unset" "file" "file"}}>
        Unset
      </button>
    {{/if}}
  </p>

  {{#if this.error}}
    <p>{{this.error}}</p>
  {{/if}}

  <p>
    <button type="button" {{action "update"}}>
      Update
    </button>

    <button type="button" {{action "delete"}}>
      Delete
    </button>
  </p>
</form>