<h2>Edit Item</h2>

<form {{action "update" on="submit"}}>
  <p>
    <label>Name</label>
    <Input @value={{this.model.name}} required placeholder="Name" />
  </p>

  <p>
    <label>State</label>
    <Input @type="checkbox" @checked={{this.model.state}} />
  </p>

  <p>
    <label>File</label><br>

    <FileUpload @name="file" @accept="image/*" @onfileadd={{this.uploadFile}}>
      {{#if (not-eq this.model.file null)}}
        <img src={{this.model.file.url}} height="100" alt="...">
      {{else}}
        Upload
      {{/if}}
    </FileUpload>

    {{#if (not-eq this.model.file null)}}
      <button type="button" {{on "click" this.unsetFile}}>
        Unset
      </button>
    {{/if}}
  </p>

  {{#if this.error}}
    <p>{{this.error}}</p>
  {{/if}}

  <p>
    <button type="submit">
      Update
    </button>

    <button type="button" {{action "delete"}}>
      Delete
    </button>
  </p>
</form>