<h2>Edit Item</h2>

<form {{action "update" on="submit"}}>
  <p>
    <label>Name</label>
    {{input value=model.name placeholder="Name"}}
  </p>

  <p>
    <label>State</label>
    {{input checked=model.state type="checkbox"}}
  </p>

  <p>
    <label>Blob</label><br>

    {{#file-upload name="blob" accept="image/*" onfileadd=(action "store" "blob")}}
      {{#if model.blobURL}}
        <img src={{model.blobURL}} height="100" alt="">
      {{else}}
        <a>Upload</a>
      {{/if}}
    {{/file-upload}}

    {{#if model.blobURL}}
      <button {{action "unset" "blob" "blob"}}>Unset</button>
    {{/if}}
  </p>

  <p>
    <label>File</label><br>

    {{#file-upload name="file" accept="image/*" onfileadd=(action "upload" "file")}}
      {{#if previews.file}}
        <img src={{previews.file}} height="100" alt="">
      {{else if model.fileURL}}
        <img src={{model.fileURL}} height="100" alt="">
      {{else}}
        <a>Upload</a>
      {{/if}}
    {{/file-upload}}

    {{#if (or previews.file model.fileURL)}}
      <button {{action "unset" "file" "file"}}>Unset</button>
    {{/if}}
  </p>

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <p>
    <button {{action "update"}}>Update</button>
    <button {{action "delete"}}>Delete</button>
  </p>
</form>