<h2>Edit Item</h2>

<Form
  @model={{this.model}}
  @cancel={{transition "index"}}
  @abandon={{confirm "Abandon?"}}
  @submit={{chain (save-model this.model) (transition "index")}}
  @delete={{confirm "Delete?" (chain (delete-model this.model) (transition "index"))}}
>
  <p>
    <label>Name</label>
    <Input @value={{this.model.name}} required placeholder="Name" />
  </p>

  <p>
    <label>State</label>
    <Input @type="checkbox" @checked={{this.model.state}} />
  </p>

  <p>
    <label>File</label><br>

    {{#if this.model.file}}
      <img src={{file-url this.model.file}} height="100" alt="...">
      <button type="button" {{on "click" (fn this.files.unset this.model 'file')}}>
        Unset
      </button>
    {{else}}
      <FileUpload @name="file" @accept="image/*" @onfileadd={{fn this.files.upload this.model 'file' false}}>
        Upload
      </FileUpload>
    {{/if}}
  </p>
</Form>