<h2>Edit Item</h2>

<form {{action "update" on="submit"}}>
  <p>
    <label>Name</label>
    <Input @value={{this.model.name}} required placeholder="Name" />
  </p>

  <p>
    <label>State</label>
    <Input @type="checkbox" @checked={{this.model.state}} />
  </p>

  <p>
    <label>File</label><br>

    {{#if this.model.file}}
      <img src={{file-url this.model.file}} height="100" alt="...">
      <button type="button" {{on "click" (fn this.files.unset this.model 'file')}}>
        Unset
      </button>
    {{else}}
      <FileUpload @name="file" @accept="image/*" @onfileadd={{fn this.files.upload this.model 'file' false}}>
        Upload
      </FileUpload>
    {{/if}}
  </p>

  {{#if this.error}}
    <p>{{this.error}}</p>
  {{/if}}

  <p>
    <button type="submit">
      Update
    </button>

    <button type="button" {{action "delete"}}>
      Delete
    </button>
  </p>
</form>