<h2>Items</h2>

<p>
  <LinkTo @route="new">Create Item</LinkTo>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>File</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each this.model.items as |item|}}
      <tr>
        <td>{{item.name}}</td>

        <td>{{item.count}}</td>

        <td>
          {{#if item.file}}
            <img src={{item.file.url}} height="100" alt="...">
          {{/if}}
        </td>

        <td>
          <button type="button" {{on "click" (fn this.add item)}}>
            Add
          </button>

          <button type="button" {{on "click" (fn this.generate item)}}>
            Generate
          </button>
        </td>

        <td>
          <LinkTo @route="edit" @model={{item}}>Edit</LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>Values</h2>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Deadline</th>
      <th>Locked</th>
      <th>Data</th>
    </tr>
  </thead>

  <tbody>
    {{#each this.model.values as |value|}}
      <tr>
        <td>
          {{value.key}}
        </td>

        <td>
          {{value.deadline}}
        </td>

        <td>
          {{value.locked}}
        </td>

        <td>
          {{value.prettyData}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>Files</h2>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Updated</th>
      <th>Type</th>
      <th>Length</th>
      <th>Handle</th>
    </tr>
  </thead>

  <tbody>
    {{#each this.model.files as |file|}}
      <tr>
        <td>
          {{file.state}}
        </td>

        <td>
          {{file.updatedAt}}
        </td>

        <td>
          {{file.type}}
        </td>

        <td>
          {{file.length}}
        </td>

        <td>
          {{file.prettyHandle}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>Jobs</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Status</th>
      <th>Data</th>
      <th>Created</th>
      <th>Finished</th>
      <th>Attempts</th>
    </tr>
  </thead>

  <tbody>
    {{#each this.model.jobs as |job|}}
      <tr>
        <td>
          {{job.name}}
        </td>

        <td>
          {{job.label}}
        </td>

        <td>
          {{job.status}}
        </td>

        <td>
          {{job.prettyData}}
        </td>

        <td>
          {{job.createdAt}}
        </td>

        <td>
          {{job.finishedAt}}
        </td>

        <td>
          {{job.attempts}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>