<h2>Add Item</h2>

<form {{action "create" on="submit"}}>
  <p>
    <label>Name</label>
    <Input @value={{this.model.name}} placeholder="Name"/>
  </p>

  <p>
    <label>State</label>
    <Input @type="checkbox" @checked={{this.model.state}}/>
  </p>

  {{#if this.error}}
    <p>{{this.error}}</p>
  {{/if}}

  <p>
    <button type="button" {{action "create"}}>
      Create
    </button>
  </p>
</form>