<h2>Add Item</h2>

<Form
  @model={{this.model}}
  @onCancel={{transition "index"}}
  @onSubmit={{chain (save-model this.model) (transition "index")}}
  @onAbandon={{true}}
>
  <Item @model={{this.model}} />
</Form>