<h1>Return</h1>

<ul>
  <li>Error: <code>"{{error}}"</code></li>
  <li>Error Description: <code>"{{error_description}}"</code></li>
  <li>State: <code>"{{state}}"</code></li>
  <li>Code: <code>"{{code}}"</code></li>
  <li>Access Token: <code>{{access_token}}</code></li>
</ul>