<h2>Sign In</h2>

<form {{action "authenticate" on="submit"}}>
  <p>
    <label>Email</label><br>
    {{input value=email type="email"}}
  </p>

  <p>
    <label>Password</label><br>
    {{input value=password type="password"}}
  </p>

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <p>
    <button {{action "signIn"}}>Sign In</button>
  </p>
</form>