<form {{on "submit" this.submit}}>
  {{yield}}

  <p>
    <button
      type="submit"
      class="button"
      disabled={{or (not this.dirty) @model.isSaving}}
    >
      {{#if @model.isSaving}}
        Saving...
      {{else if @model.isNew}}
        Create
      {{else}}
        Update
      {{/if}}
    </button>

    {{#unless @model.isNew}}
      <button
        type="button"
        class="button"
        {{on "click" this.reset}}
        disabled={{or (not this.dirty) @model.isSaving}}
      >
        Reset
      </button>
    {{/unless}}

    {{#if @onCancel}}
      <button
        type="button"
        class="button"
        {{on "click" this.cancel}}
        disabled={{@model.isSaving}}
      >
        Cancel
      </button>
    {{/if}}

    {{#if @onDelete}}
      <button
        type="button"
        class="button"
        {{on "click" @onDelete}}
        disabled={{@model.isSaving}}
      >
        Delete
      </button>
    {{/if}}
  </p>
</form>